/* Inter Regular */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(data:font/woff2;base64,d09GMgABAAAAAAm8ABAAAAAAGKQAAAOCAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABCAAAABwAAAAcAAAAVmNtYXAAABFAAAABYAAAAWAAABhGdhc3AAAAFoAAAACAAAAAjAAAAMZ2x5ZgAAAZQAAAB8AAABfAB7CWhlYWQAAAHcAAAANQAAADUAFQBoaGhlYQAAAfwAAAAkAAAAJAgcABRobXR4AAACMAAAAAgAAAAIAAgACGxvY2EAAAI4AAAABgAAAAYAAgAAbWF4cAAAAjQAAAAgAAAAIAAABG5uYW1lAAACVAAAARcAAAEVBLAcAHAOcG9zdAAABNgAAAA4AAAAPgG0AHtwdWJmAAAE/AAAABMAAAATAAAAEgABAAMAAAAQAAAAEAAAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAA==) format("woff2");
  font-display: swap;
}

/* Inter Bold */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(data:font/woff2;base64,d09GMgABAAAAAApQABAAAAAAGlQAAAPUAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABDAAAAC8AAAAzAAAAVmNtYXAAABFAAAABgAAAAaAAABnWdhc3AAAAF4AAAACAAAAAjAAAAMZ2x5ZgAAAaQAAACFAAACiABCAjBoZWFkAAAB+AAAADcAAAA3ABcAaGhlYQAAAgAAAAAkAAAAJAgaABRobXR4AAACVAAAAAgAAAAIAAgACGxvY2EAAAJgAAAABgAAAAYAAQAbWF4cAAAAmsAAAAgAAAAIAAABG5uYW1lAAACgAAAAScAAAEhBKAcAHBvc3QAAATsAAAAOAAAAD4A8gC+cHJlcAAABQwAAAAeAAAAIAEMAHgAeQAAeAAAAQACAHoAAwAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format("woff2");
  font-display: swap;
}
